.header {
  display: flex;
}

.header-title {
  background-color: #55286F;
  width:80%;
  padding: 15px;
  color: #FFF;
  border-radius: 10px 0 0 0;
}

.header-stats {
  background-color: #A986CE;
  width: 20%;
  color: white;
  border-radius: 0 10px 0 0;
}