.header {
  display: flex;
}

.header-title {
  background-color: #6d00c1;
  width:80%;
  padding: 15px;
  color: #FFF;
  border-radius: 10px 0 0 0;
}

.header-stats {
  background-color: #48027e;
  width: 20%;
  color: white;
  border-radius: 0 10px 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
}