.player-info {
  position: relative;
  padding: 20px;
}

.player-info-name {
  width: 50%;
}

.player-info-stats-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.player-info-stats {
  width: 50%;
}

.player-info-title {
  display: flex;
  align-items: center;
}

.buttons {
  width: 30%;
  display: flex;
}

.buttons a {
  background-color: #48027e;
  color: #fff;
  width: 90px;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 5px;
}

.margin a:last-child {
  margin-left: 5px;
}

.delete-button {
  width: 100%;
}
.delete-button a {
  background-color: red;
  margin-left: auto;
}